# Created by .ignore support plugin (hsz.mobi)
.apm/node_modules
.dist/
.history/apm/src/app/app.module_20211011141732.ts
.history/apm/src/app/products/product-list.component_20211011140145.ts
.history/apm/src/app/products/product-list.component_20211011140151.ts
.history/apm/src/app/products/product-list.component_20211011141551.html
.history/apm/src/app/products/product-list.component_20211011141552.html
.history/apm/src/app/products/product-list.component_20211011142127.html
.history/apm/src/app/products/product-list.component_20211011142418.html
.history/apm/src/app/products/product-list.component_20211011144314.html
.history/apm/src/app/products/product-list.component_20211011144436.ts
.history/apm/src/app/products/product-list.component_20211011144854.ts
.history/apm/src/app/products/product-list.component_20211011144906.ts
.history/apm/src/app/products/product-list.component_20211011144916.ts
.history/apm/src/app/products/product-list.component_20211011144946.ts
.history/apm/src/app/products/product-list.component_20211011145108.ts
.history/apm/src/app/products/product-list.component_20211011145114.ts
.history/apm/src/app/products/product-list.component_20211011145228.ts
.history/apm/src/app/products/product-list.component_20211011145248.ts
.history/apm/src/app/products/product-list.component_20211011145352.ts
.history/apm/src/app/products/product-list.component_20211011145521.ts
.history/apm/src/app/products/product-list.component_20211011145925.ts
.history/apm/src/app/products/product-list.component_20211011150009.ts
.history/apm/src/app/products/product-list.component_20211011150027.ts
.history/apm/src/app/shared/star.component_20211011141048.ts
.history/apm/src/app/shared/star.component_20211011141122.ts
.history/apm/src/app/shared/star.component_20211011141127.ts
.history/apm/src/app/shared/star.component_20211011141140.ts
.history/apm/src/app/shared/star.component_20211011141152.ts
.history/apm/src/app/shared/star.component_20211011141423.ts
.history/apm/src/app/shared/star.component_20211011142117.ts
.history/apm/src/app/shared/star.component_20211011142124.ts
.idea/
